* {
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Roboto;
  color: white;
  background: linear-gradient(to left, #0093E9, #80D0C7, #0093E9);
}

.container {
  text-align: center;
  height: 65vh;
  width: 30vw;
  margin: 150px auto;
  background-image: linear-gradient( 181deg,  rgba(2,0,97,1) 15%, rgba(97,149,219,1) 158.5% );
  border-radius: 25px;
}
  
h1 {
  padding-top: 100px;
  background-color: #185a9d;
  color: white;
  margin: 10px auto;
  padding: 10px 0px 10px 0px;
  font-size: 2rem;
  letter-spacing: 0.1em;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

form {
  margin-top: 5vh;
}

p {
  font-size: 1.5rem;
  padding-bottom: 5px;
  font-weight: 100;
}
  
input, select {
color: rgba(236,95,5,1);
  margin-top:10px;
  margin-bottom: 35px;
  border-radius: 5px;
  border:none;
}

.bill {
  font-size: 14px;
  background-color: #f7f7f7;
  padding: 5px 5px 8px 8px;
}

.bill:focus {
  font-size: large
}

.people {
  width: 15%;
  padding: 5px 8px 5px 8px;
  background-color: #f7f7f7;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.people:focus {
  font-size: large
}

h4 {
  display: inline-block;
  font-weight: 100;
  padding-left: 5px;
  margin-top: 5px;
}

.dollarSign {
  display: inline;
}

.service {
  padding: 5px 5px 5px 5px;
  font-size: 1rem;
}

button {
  background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%)
}

button {
  margin: 10px auto;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  outline: none;
  border-radius: 10px;
  display: block;
  border: none;
  margin-top:25px;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.amount {
  font-size: 1.25rem;
  margin-top: 5px;
  text-align: center;
}

.tip h4 {
  font-weight: 100;
  position:relative;
  bottom: 5px;
}

#each {
  letter-spacing: 0.3em;
  padding-top: 0;
  margin-top: 0;
}

.amount {
  letter-spacing: 0.1em;
  font-size: .80rem;
}

@media only screen and (max-width:1040px) {
  p {
    font-size: 1rem;
  }

  input, select {
    margin-top:5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  button {
    width: 10%;
    text-align: right;
    font-size: .75rem;

  }
}